<html>
<head>
	<title><%= @ad.name %></title>
</head>
<body>
<p>
	<b>Name:</b><%= @ad.name %>
</p>
<p>
	<b>Description:</b><%= @description %>
</p>
<p>
	<b>Price:</b><%= @ad.price %>
</p>
<p>
	<b>Seller:</b><%= @ad.seller_id %>
</p>
<p>
	<b>Email:</b><%= @ad.email %>
</p>
<p>
<img src="<%= @img_url %>"/>
</p>
</body>
</html>